.sidebar .brand {
  width: 100%;
  color: rgba(0, 0, 0, 0.87);
}

.brand .welcome img {
  width: 64px;
  height: 64px;
}
.brand .welcome h1 {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
}

.list ul {
  width: 100%;
  padding: 0;
  margin: 0;
}
.list ul li {
  font-weight: bold;
}

  .list li a,
  .list li a:focus {
    display: block;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
  }
  .list li a.active,
  .list li a:hover {
    transition: all 0.4s;
    background: #293846;
    color: rgba(200, 200, 200, 0.75);
  }

  .list li a.active {
    border-left: 4px solid #a9ea5c;
  }
