main canvas {
  height: 220px !important;
}

table tbody tr th,
table tbody tr td {
  vertical-align: middle;
}

@media(min-width:576px) {

}
@media(min-width:768px) {

}
@media(min-width:992px) {
  main canvas {
    height: 380px !important;
  }
}
@media(min-width:1200px) {
  main canvas {
  }
}
