<div class="p-4 col-12">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th class="hidden-md-down">Data</th>
        <th class="hidden-sm-down">Banco</th>
        <th>Nome</th>
        <th class="hidden-sm-down">Tipo</th>
        <th class="hidden-xs-down">Retorno</th>
        <th>Valor</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="!hasAnyInvestment()">
        <th class="text-center" colspan="7">{{tableMessage}}</th>
      </tr>
      <tr *ngFor="let investment of investments" (click)="openInvestment(investment)">
        <th class="hidden-md-down" scope="row">{{getInvestmentDate(investment.investmentDate)}}</th>
        <td class="hidden-sm-down">{{investment.bank}}</td>
        <td>{{investment.name}}</td>
        <td class="hidden-sm-down">{{getInvestmentTypeName(investment.type)}}</td>
        <td class="hidden-xs-down">{{investment.investmentReturn}}%</td>
        <td>R$ {{investment.value}}</td>
        <td><button (click)="removeInvestment(investment)" class="btn btn-primary" type="button" name="button"><i class="fa fa-trash"></i></button></td>
      </tr>
    </tbody>
  </table>
</div>
