<div class="container">
  <div class="col-sm-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Data</th>
          <th>Banco</th>
          <th>Nome</th>
          <th>Tipo</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="!hasAnyInvestment()">
          <th class="text-center" colspan="5">{{tableMessage}}</th>
        </tr>
        <tr *ngFor="let investment of investments" (click)="openInvestment(investment)">
          <th scope="row">{{investment.investmentDate}}</th>
          <td>{{investment.bank}}</td>
          <td>{{investment.name}}</td>
          <td>{{investment.type}}</td>
          <td>{{investment.value}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
