<div class="modal-header text-center">
  <h4 class="modal-title w-100">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #investmentForm="ngForm" (ngSubmit)="addInvestment()" class="form-horizontal">
    <div class="form-group row">
      <label class="col-form-label col-4" for="investmentDate">Data:</label>
      <div class="col-8">
        <input disabled [(ngModel)]="investment.investmentDate" class="form-control" type="text" name="investmentDate" value="">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-form-label col-4" for="bank">Banco:</label>
      <div class="col-8">
        <input [(ngModel)]="investment.bank" class="form-control" type="text" name="bank" value="">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-form-label col-4" for="name">Nome:</label>
      <div class="col-8">
        <input [(ngModel)]="investment.name" class="form-control" type="text" name="name" value="">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-form-label col-4" for="value">Valor:</label>
      <div class="col-8">
        <input [(ngModel)]="investment.value" class="form-control" type="number" name="value" value="">
      </div>
    </div>
    <!-- Begin PrivateTitle -->
    <div *ngIf="type === InvestmentType.PrivateTitle" class="form-group row">
      <label class="col-form-label col-4" for="investmentReturn">Retorno:</label>
      <div class="col-8">
        <input [(ngModel)]="investment.investmentReturn" class="form-control" type="number" name="investmentReturn" value="">
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Fechar</button>
  <button (click)="investmentForm.ngSubmit.emit()" [disabled]="!investmentForm.form.valid" type="button" class="btn btn-primary">Adicionar</button>
</div>
