<div id="gi-login-box" class="gi-void1-bg rounded p-4 mt-5 col-sm-6 offset-sm-3">
  <header class="text-center">
    <img class="w-50" src="assets/logo-gorilainvest-pequena.png" alt="">
  </header>

  <hr />

  <span class="error" *ngIf="error">{{ error }}</span>

  <div class="">
    <div class="social-btns">
      <p class="text-center">Conecte com</p>
      <div class="row">
        <div class="text-center col-sm">
          <button (click)="loginFacebook()" class="w-100 btn btn-social-facebook"
            type="button" name="button">Facebook</button>
        </div>
        <div class="text-center col-sm">
          <button (click)="loginGoogle()" class="w-100 btn btn-social-google"
            type="button" name="button" >Google</button>
        </div>
      </div>
    </div>
  </div>
</div>
