<div class="nav-sidebar pb-3">
  <div class="row">
    <div class="brand p-3 m-1 gi-void1-bg rounded">
      <img class="w-100" src="assets/logo-gorilainvest-pequena.png" alt="">

      <hr class="w-75">

      <h3 class="text-center">Bem vindo!</h3>
      <div class="welcome mb-3 text-center">
        <img class="rounded-circle" src="{{ photoUrl }}" alt="">
        <h1 class="ml-3">{{ displayName }}</h1>
      </div>

      <button (click)="logout()" class="btn btn-primary float-right" type="button" name="button">Logout</button>
    </div>
  </div>

  <div class="row list">
    <nav>
      <ul>
        <li class="gi-primary-bg-light" *ngFor="let link of links">
          <a class="gi-primary-color p-2 pl-4" routerLink="{{ link.url }}" routerLinkActive="active">
            {{ link.name }}
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
