.nav-sidebar .brand {
  width: 100%;
  color: rgba(0, 0, 0, 0.87);
}

.brand .welcome img {
  width: 64px;
  height: 64px;
}
.brand .welcome h1 {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
}

.list nav {
  width: 100%;
}
  .list ul {
    padding: 0;
    margin: 0;
  }
  .list ul li {
    font-weight: bold;
  }

.list li a {
  display: block;
}
.list li a.active {
  transition: all 0.4s;
  border-left: 4px solid #a9ea5c;
  background: #293846;
}
